<div class="CompetitionCategoriesSection-container">
  <h4 class="CompetitionCategoriesSection-title">Катеогрии:</h4>
  <button *ngIf="canShowAddCategoriesButton()"
          mat-raised-button
          color="primary"
          (click)="openAddCategoriesModal()"
          >Add</button>
  <mat-card *ngFor="let category of categories" class="CompetitionCategoriesSection-category">
    <mat-card-header>{{category.displayName}}</mat-card-header>
    <mat-card-content class="CompetitionCategoriesSection-categoryInfo">
      <p><span class="CompetitionCategoriesSection-label">Раздел:</span> {{ category.section }}</p>
      <p><span class="CompetitionCategoriesSection-label">Возраст:</span> {{ category | appAgeCategoryPipe }}</p>
      <p><span class="CompetitionCategoriesSection-label">Вес:</span> {{ category | appWeightCategoryFormat }}</p>
      <p><span class="CompetitionCategoriesSection-label">Опыт:</span> {{ category | appExperienceCategoryFormat }}</p>
      <p><span class="CompetitionCategoriesSection-label">Пол: </span> {{ category.male | malePipe }} </p>
      <p><span class="CompetitionCategoriesSection-label">Участников:</span> {{ category.sportsmanMeta.totalSportsmanCount }} </p>
      <p><span class="CompetitionCategoriesSection-label">От клуба:</span> {{ category.sportsmanMeta.sportsmanFromCoachClubCount }} </p>
    </mat-card-content>
  </mat-card>
  <app-paginator
    [pageState]="pageState"
    (onNextPage)="onPageNumberChange($event)"
    (onPreviousPage)="onPageNumberChange($event)">
  </app-paginator>
</div>
