<form [formGroup]="editMailTemplateFormGroup">
  <p>
      <label>Подстановки:</label>
      <app-replacements-area
        class="UpdateFullMail-textarea"
        [mailReplacements]="mailTemplate.mailTemplateReplacements"
        (changedMailReplacements)="updateMailReplacements($event)">
      </app-replacements-area>
  </p>
    <mat-tab-group>
      <mat-tab label="Текст">
        <label for="edit-template">Template</label><textarea id="edit-template"
                                                             formControlName="template"
                                                             matInput
                                                             class="UpdateFullMail-textarea"
                                                             (change)="onEdit()">
        </textarea>
      </mat-tab>
      <mat-tab label="Превью">
        <div [innerHTML]="getCurrentTemplate()"></div>
      </mat-tab>
    </mat-tab-group>
</form>
