<mat-card class="CategoryItem-container">
  <mat-grid-list [cols]="getCellsCount()" rowHeight="50px">
    <mat-grid-tile [colspan]="1" [rowspan]="3">
      {{category.displayName}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      Возраст: {{ category | appAgeCategoryPipe }}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      Вес: {{ category | appWeightCategoryFormat }}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      Опыт: {{ category | appExperienceCategoryFormat }}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
