<app-competition-page-sportsmen-section
  *ngIf="!isMobile()"
  [sportsmen]="sportsmen$ | async"
  [loadState]="loadSportsmanState$ | async"
  [addState]="addSportsmanState$ | async"
  [deleteState]="deleteSportsmanState$ | async"
  [errorCode]="errorCode$ | async"
  [userRole]="userRole"
  [competitionRegistrationStatus]="competitionRegistrationStatus$ | async"
  [sections]="sections$ | async"
  (onAddSportsman)="addSportsman($event)"
  (onDeleteSportsman)="deleteSportsman($event)">
</app-competition-page-sportsmen-section>

<app-competition-page-sportsmen-section-mobile
  *ngIf="isMobile()"
  [sportsmen]="sportsmen$ | async"
  [loadState]="loadSportsmanState$ | async"
  [addState]="addSportsmanState$ | async"
  [deleteState]="deleteSportsmanState$ | async"
  [errorCode]="errorCode$ | async"
  [userRole]="userRole"
  [competitionRegistrationStatus]="competitionRegistrationStatus$ | async"
  [sections]="sections$ | async"
  (onAddSportsman)="addSportsman($event)"
  (onDeleteSportsman)="deleteSportsman($event)">
</app-competition-page-sportsmen-section-mobile>
