.CompetitionDetails-competitionName {
  font-size: 26px;
  text-align: center;
  color: #272727;
  line-height: 1em;
}

.CompetitionDetails-competitionInfo {
  color: #272727;
}

.CompetitionDetails-competitionInfoContainer {
  width: 100%;
}

.CompetitionDetails-competitionInfoSection {
  padding: 20px;
}

.CompetitionDetails-competitionInfoDescription {
  padding: 20px;
}

.CompetitionDetails-label {
  font-size: 16px;
  color: #4f4f4f;
}

.CompetitionDetails-manageItem {
  margin: 5px;
}

mat-form-field {
  width: 100%;
}