<mat-tab-group>
  <mat-tab label="Предстоящие">
    <app-competitions-list
      [competitions]="futureCompetitions$ | async"
      [canManageRegistrationStatus]="canManageRegistrationStatus"
      (onSetRegistrationStatus)="setCompetitionStatus($event)"></app-competitions-list>
  </mat-tab>
  <mat-tab label="Прошедшие">
    <app-competitions-list
    [competitions]="lastCompetitions$ | async"
    [canManageRegistrationStatus]="canManageRegistrationStatus"
    (onSetRegistrationStatus)="setCompetitionStatus($event)"></app-competitions-list>
  </mat-tab>
</mat-tab-group>
