<mat-tab-group>
  <mat-tab label="Предстоящие">
    <app-competitions-list
      [pageNumber]="_futureCompetitionsPage + 1"
      [competitions]="futureCompetitions$ | async"
      [canManageRegistrationStatus]="canManageRegistrationStatus"
      (changePage)="onChangeFutureCompetitionsPage($event)"></app-competitions-list>
  </mat-tab>
  <mat-tab label="Прошедшие">
    <app-competitions-list
      [pageNumber]="_lastCompetitionsPage + 1"
      [competitions]="lastCompetitions$ | async"
      [canManageRegistrationStatus]="canManageRegistrationStatus"
      (changePage)="onChangeLastCompetitionsPage($event)"></app-competitions-list>
  </mat-tab>
</mat-tab-group>
