.CompetitionDetails-competitionName {
  font-size: 26px;
  text-align: center;
  color: #272727;
}

.CompetitionDetails-competitionInfo {
  color: #272727;
}

.CompetitionDetails-competitionInfoContainer {
  width: 100%;
}

.CompetitionDetails-competitionInfoSection {
  float: left;
  width: 45%;
  padding: 20px;
}

.CompetitionDetails-competitionInfoDescription {
  float: right;
  width: 45%;
  padding: 20px;
}

.CompetitionDetails-competitionRegistrationStatusManager {
  float: right;
  width: 45%;
}

.CompetitionDetails-label {
  font-size: 16px;
  color: #4f4f4f;
}
