<ng-container *ngIf="competition">
  <div class="CompetitionDetails-competitionName">
    <h4>{{competition.name}}</h4>
  </div>
  <div class="CompetitionDetails-competitionInfoContainer">
    <div class="CompetitionDetails-competitionInfoSection">
      <p class="CompetitionDetails-competitionInfo">
        <span class="CompetitionDetails-label">Даты:</span>
        {{competition.startDate}}
        <ng-container *ngIf="competition.endDate !== competition.startDate">
          - {{competition.endDate}}
        </ng-container>
      </p>
      <p class="CompetitionDetails-competitionInfo">
        <span class="CompetitionDetails-label">Всего участников:</span>
        {{competition.competitionMeta.totalSportsmenCount}}
      </p>
      <p *ngIf="competition.competitionMeta.totalSportsmenOfCoachClubCount"
         class="CompetitionDetails-competitionInfo">
        <span class="CompetitionDetails-label">От вашего клуба:</span>
        {{competition.competitionMeta.totalSportsmenOfCoachClubCount}}
      </p>
      <div class="CompetitionDetails-competitionInfo">
        <button *ngIf="showGenerateGridButton()" mat-button (click)="generateGrid()">
          Сгенерировать сетку
        </button>
        <div *ngIf="isGridGenerationInProcess()">
          <p>Сетка генерируется</p>
        </div>
        <div *ngIf="isGridGenerationComplete()">
          <a [href]="buildArchiveLink()">Competition {{competition.id}} grids.zip</a>
        </div>
      </div>
    </div>
    <div class="CompetitionDetails-competitionInfoDescription">
      <p class="CompetitionDetails-label">Описание:</p>
      <p class="CompetitionDetails-competitionInfo">{{competition.description}}</p>
    </div>
  </div>
</ng-container>
