<div mat-dialog-title>
  <h3>Выберите категории:</h3>
</div>
<mat-dialog-content>
  <div class="AddCategories-filter">
    <form [formGroup]="filterFormGroup">
      <mat-form-field>
        <input type="text"
               id="categories-filter"
               matInput
               placeholder="Категория"
               formControlName="filter"
               (keyup)="filterCompetitions()"/>
      </mat-form-field>
    </form>
  </div>
  <div *ngFor="let checkedCategory of shownCheckableCategories">
    <mat-checkbox [(ngModel)]="checkedCategory.isChecked">{{checkedCategory.category.displayName}}</mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="AddCategories-actionButtons">
  <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
  <button mat-raised-button (click)="cancel()">Отмена</button>
</mat-dialog-actions>
