<div class="Competitions-competitionsContainer">
  <!-- Load Competitions -->
  <div *ngIf="competitions === null" class="Competitions-competitionsMessage">
    Load data
  </div>

  <!-- Competitions List is empty -->
  <div *ngIf="competitions !== null && competitions.length === 0" class="Competitions-competitionsMessage">
    Соревнований нет
  </div>

  <!-- Competitions List -->
  <ng-container *ngIf="competitions !== null && competitions.length > 0">
    <div *ngFor="let competition of competitions" class="Competitions-competitionView">
      <app-competition-item
      [competition]="competition"></app-competition-item>
    </div>
  </ng-container>
</div>
