<div class="Competitions-competitionsContainer">
  <!-- Load Competitions -->
  <div *ngIf="_competitionsPage === null" class="Common-inProgress">
    <p class="Common-inProgressText">Load data</p>

    <mat-progress-spinner
      class="Common-inProgressSpinner"
      color="primary"
      mode="indeterminate"
      [value]="25">
    </mat-progress-spinner>
  </div>
  <!-- Competitions List is empty -->
  <div *ngIf="_competitionsPage !== null && _competitionsPage.content.length === 0" class="Competitions-competitionsMessage">
    Соревнований нет
  </div>

  <!-- Competitions List -->
  <ng-container *ngIf="_competitionsPage.content.length > 0">
    <div *ngFor="let competition of _competitionsPage.content" class="Competitions-competitionView">
      <app-competition-item
      [competition]="competition"
      [canManageRegistrationStatus]="canManageRegistrationStatus"></app-competition-item>
    </div>
    <app-paginator *ngIf="pageState"
      [pageState]="pageState"
      (onNextPage)="onChangePageState($event)"
      (onPreviousPage)="onChangePageState($event)"
    ></app-paginator>
  </ng-container>
</div>
