<div>
  <div>
    Добавление нового вложения
  </div>
  <mat-dialog-content>
    <form [formGroup]="createAttachmentFormGroup">
      <p>
        <mat-form-field>
          <input
            matInput
            formControlName="name"
            id="attachment-name"
            placeholder="Название">
        </mat-form-field>
      </p>
      <p>
            <button mat-button color="warn" (click)="onFileChoose()">
              <mat-icon>file_upload</mat-icon>
              Upload
            </button>
            <input type="file"
                   id="fileUpload"
                   name="fileUpload"
                   multiple="multiple"
                   style="display:none;"/>
            <label *ngIf="file">{{file.name}}</label>
      </p>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="CreateAttachmentModal-actionsPanel">
    <button mat-raised-button (click)="close()">Отмена</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="shouldDisableSaveButton()">Сохранить</button>
  </mat-dialog-actions>
</div>
