<mat-card class="CompetitionItem-container">
  <!-- Dates -->
  <mat-grid-list cols="10" rowHeight="60px">
    <mat-grid-tile [colspan]="1" class="CompetitionItem-competitionDates">
      <ng-container *ngIf="isOneDateCompetition(); else severalDaysCompetition">
        <p>{{competition.startDate}}</p>
      </ng-container>
      <ng-template #severalDaysCompetition>
        <p>{{competition.startDate}} - {{competition.endDate}}</p>
      </ng-template>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" class="CompetitionItem-competitionName"><p>{{ competition.name }}</p></mat-grid-tile>
    <mat-grid-tile [colspan]="2" class="CompetitionItem-registrationStatus">
      <mat-chip-list>
        <ng-container *ngIf="isRegistrationOpen(); else closedRegistration">
          <mat-chip color="primary" [selected]="true">Регистрация открыта</mat-chip>
        </ng-container>
        <ng-template #closedRegistration>
          <mat-chip color="warn" [selected]="true">Регистрация закрыта</mat-chip>
        </ng-template>
      </mat-chip-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" class="CompetitionItem-additionalInfo"></mat-grid-tile>
    <mat-grid-tile [colspan]="2" class="CompetitionItem-additionalClubInfo"></mat-grid-tile>
  </mat-grid-list>
</mat-card>
